@{
    ViewData["Title"] = "Camera";
}
<h1>Camera</h1>

<p>
    Put an object in front of the camera.
</p>

<h3>I see: <span id="label">Loading...</span></h3>

<video class="video"
       autoPlay
       playsInline
       muted
       ref="videoRef"
       id="frame">
 </video>
        